extends _layout.pug

block content
    article
        h1= plan.date
        
        .Days
            each day in plan.days
                .Day
                    h2= day.day
                    
                    if day.breakfast
                        h3 Breakfast
                        
                        ul
                            each item in day.breakfast
                                li= item.title
                    
                    if day.lunch
                        h3 Lunch

                        ul
                            each item in day.lunch
                                li= item.title

                    if day.dinner
                        h3 Dinner

                        ul
                            each item in day.dinner
                                li= item.title

        h2 Notes

        if plan.notes
            ul.Notes
                each note in plan.notes
                    li.Note= note